/*GENERAL*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
}

main,
header {
  margin: 50px auto;
  max-width: 1680px;  
}

header {
  margin-top: -10px;
}

.goodstar {
  color: #0065fc;
}

.badstar {
  color: #f2f2f2;
}

.effect_filter,
.img_effect1 {
  opacity: 1;
  transition: scale 0.4s 0.1s;
  transition: box-shadow 1s 0.3;
}

.effect_filter:hover,
.img_effect1:hover {  
  box-shadow: 5px 5px 10px 1px #0065fc;
}

.img_effect {
  transition: transform 1s;
}

.img_effect:hover {
  transform: scale(1.05);
}

/* HEADER */

header {
  justify-content: space-between;
}

.logo {
  margin: 20px 0 0 20px;
}

.navigation nav li {
  padding-top: 40px;
}

.navigation nav a {
  padding: 40px 30px;
}

.navigation nav li a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 38px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* MAIN */
/* RESEARCH SECTION */

/* RESEARCH */

#input_txt_research {
  border: none;
  margin: 0 5px;
}

.research_subtitle {
  margin-top: -15px;
}

.research_position {
  height: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 12px;
  border: 2px solid #f2f2f2;
  justify-content: space-between;
}

.position_bg_icon {
  height: 40px;
  width: 40px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  border-radius: 12px 0 0 12px;
}

.position_txt_research {
  align-items: center;
}

.fa-search {
  display: none;
}

.position_bg_search {
  border-radius: 0 12px 12px 0;
  background-color: #0065fc;
  cursor: pointer;
  border: none;
  color: white;
  height: 40px;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.position_bg_search:hover {
  background-color: #f2f2f2;
  color: #0065fc;
  font-size: 1.2rem;
  font-style: bold;
  transition-duration: 0.4s;
}

/*FILTERS*/

.filters {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.txt_filters {
  margin: 10px;
}

.icon_filter {
  border: 2px solid #f2f2f2;
  border-radius: 75px;
  height: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  margin: 0 20px;
  cursor: pointer;
}

.btn_filter {
  height: 40px;
  width: 40px;
  background-color: #deebff;
  border-radius: 50%;
  margin: -2px;
  align-items: center;
  justify-content: center;
  color: #0065fc;
}

.effect_filter {
  opacity: 1;
  transition: scale 0.4s 0.1s;
  transition: box-shadow 1s 0.3;
}

.effect_filter:hover {
  box-shadow: 5px 5px 10px 1px #0065fc;
}

.txt_eco {
  margin: 10px;
}

/*INFO RESEARCH*/

.info {
  align-items: center;
}

.info_circle {
  height: 20px;
  width: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.fa-info {
  color: #0065fc;
}

.info_txt {
  margin: 15px;
}

/* LODGING & MORE POPULAR */

.lodging_popular_section {
  width: 98% auto;
  gap: 20px;
  justify-content: space-between;
}

/* LODGING */

.lodging {
  display: flex;  
  width: 64%;
  flex-grow: 2;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 0 35px 20px 35px;
  flex-direction: column;
}

.lod_all {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;  
}

.lod_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px solid white;
  border-radius: 25px;
  flex-grow: 1;
}

.lod_card_img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lod_card_img img {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 10px;
  min-height: 150px;
}

.lod_details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.lod_title {
  margin: 5px 10px;
}

.lod_price {
  margin: 0 10px;
}

.lod_note {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

/* MORE POPULAR */

.popular {
  display: flex;
  flex-grow: 1;
  width: auto;  
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 0 35px;
  flex-direction: column;
  padding-bottom: 40px;
}

.fa-chart-line.popular h1 {
  flex-direction: row;
}

.popular_title {
  justify-content: space-between;
}

.pop_all {
  height: auto;
  gap: 20px;
  flex-direction: column;
}

.pop_card {
  display: flex;
  justify-content: space-between;    
  border: 5px solid white;
  background-color: white;
  border-radius: 25px;
  flex-grow: 1;  
}

.pop_card_img {
  border-radius: 25px 0 0 25px;  
  height: 100%;
  overflow: hidden;
}

.pop_card_img img {
  aspect-ratio: 5/6;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 200px;
  min-height: 50px;
}

.pop_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: initial;
  width: 66%;
}

.pop_title {
  margin: 5px 0 5px 10px;
}

.pop_price {
  margin: 0 0 0 10px;
}

.pop_note {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 10px;
  margin-top: 110px;
}

/* ACTIVITY SECTION */

.activity_section {
  width: 100%;
  margin: 20px auto;
  margin-top: 50px;
}

/* ACTIVITY */

.activity_all {
  display: flex;
  gap: 36px;
  height: 636px;
}

.act_card_col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 100%;
  width: 25%;
}

/* ACTIVITY CARDS */

.act_card_big {
  flex-grow: 1;
  width: 25%;
}
.act_card_medium {
  display: flex;
  height: 324px;
}
.act_card_small {
  display: flex;
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.card_title {
  font-weight: bold;
  line-height: 1;
  padding: 0 20px;
}
.card_img {
  width: 100%;
  height: 100%;
  position: relative;
  flex-grow: 1;
}
.card_img img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */

footer {
  background-color: #f2f2f2;
}

.ft_bg_ext {
  max-width: 1440px;
  display: flex;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
}

.a_fr {
  font-size: 18px;
  font-weight: bold;
  min-width: auto;
}

.ul_fr li {
  list-style: none;
  min-width: 400px;
  padding-top: 20px;
}

.container1 {
  width: calc(100% / 3);
}

.container2 {
  width: calc(100% / 3);
}

.container3 {
  width: calc(100% / 3);
}

@media only screen and (max-width: 1100px) {
  .lodging {
    width: 64%;
    margin-top: 20px;
  }

  .popular {
    height: auto;
    margin-top: 20px;
  }

  .pop_card_img img {
    height: 230px;
    object-fit: cover;
  }

  .pop_card {
    width: 100%;
  }
}
